<h1 mat-dialog-title>Edit task: {{data.id}}</h1>
<div mat-dialog-content>
     
    <mat-form-field class="example-full-width" appearance="fill" *ngIf="!inProgress">
        <mat-label>Text:</mat-label>
        <textarea matInput placeholder="Enter task here" rows="6" [(ngModel)]="editedTask.text" #ctrl="ngModel" ></textarea>
    </mat-form-field>
    <mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>
</div>
<div mat-dialog-actions>
    <ng-container *ngIf="!inProgress">
        <button mat-button (click)="onNoClick()">Cansel</button>
        <button mat-button (click)="onYesClick()" cdkFocusInitial>Save</button>
    </ng-container>
</div>
